.author {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 7px 12px;

    .name {
        font-family: "Unbounded Bold";
        color: var(--color-accent);
        text-transform: uppercase;
    }

    .email {
        font-family: "Unbounded Light";
        color: white;
        font-size: 11px;
        opacity: .9;
    }
}